<h1>FlowChart</h1>

<a href="/flowchart/new"  class="btn btn-primary my-2">Add Daily Flow Chart Information</a>
<a href="/flowchart/edit" class="btn btn-primary my-2">Edit Daily Flow Chart Information</a>
<br>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23f23f5d&ctz=America%2FDenver&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

