<h1>FlowChart</h1>

<a href="/flowchart/new"  class="btn btn-primary my-2">Add Daily Flow Chart Information</a>
<a href="/flowchart/edit" class="btn btn-primary my-2">Edit Daily Flow Chart Information</a>
<br>
<% #@all_charts.each do |chart|%>
<% #binding.pry %>

<%#end%>
