<h1 class="text-primary"> ASTROFLOW!  Get yer bloody stars here!</h1>
<span class="border border-dark rounded-lg">This is a border test</span>
<div class="container-fluid border border-dark rounded-lg" ><h3>About Astroflow</h3>
Stuff about menses and stars talking to the moon.
</div>

New User? <%= button_to "Register", "/register", method: :get %><br>
<%= button_to "Sign In", "/login", method: :get %><br>
