<h1 class="text-white"> ASTROFLOW!  Get yer bloody stars here!</h1><br>
<div class="container-fluid" ><h3>About Astroflow</h3>
<h4>Stuff about menses and stars talking to the moon.</h4>
</div>

New User? <%= button_to "Register", "/register", method: :get %><br>
<%= button_to "Sign In", "/login", method: :get %><br>
